backend:
  # name: test-repo
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img

collections:
  - name: "blog"
    label: "Blog"
    editor:
      preview: false
    folder: "src/pages/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Template Key", name: "templateKey", widget: "hidden", default: "blog-post" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Description", name: "description", widget: "text" }
      - { label: "Featured Post", name: "featuredpost", widget: "boolean" }
      - { label: "Featured Image", name: "featuredimage", widget: image }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Tags", name: "tags", widget: "list" }

  - name: "pages"
    label: "Pages"
    editor:
      preview: false
    files:
      - file: "src/pages/index.md"
        label: "Landing Page"
        name: "index"
        fields:
          - { label: "Template Key", name: "templateKey", widget: "hidden", default: "index-page" }
          - { label: "Contact Email ID", name: contactEmailId, widget: string }
          - { label: Title, name: title, widget: string }
          - { label: Subheading, name: subheading, widget: string }
          - { label: Image, name: image, widget: image }
          - {
              label: Mainpitch,
              name: mainpitch,
              widget: object,
              fields: [{ label: Title, name: title, widget: string }, { label: Description, name: description, widget: markdown }],
            }
          - { label: "Cards: What we do", name: "showWhatCards", widget: "boolean", default: true}
          - { label: "Show Quote Cards?", name: "showQuoteCards", widget: "boolean", default: true}
          - { label: "Show Product Cards?", name: "showProductCards", widget: "boolean", default: true}
          - { label: "Show Price List?", name: "showPriceList", widget: "boolean", default: true}
          - { label: "Show blog Posts?", name: "showBlogPosts", widget: "boolean", default: true}
          - { label: Heading, name: heading, widget: string }
          - { label: Description, name: description, widget: string }
          - {
              label: Main,
              name: main,
              widget: object,
              fields:
                [
                  { label: Heading, name: heading, widget: string },
                  { label: Description, name: description, widget: text },
                  {
                    label: Image1,
                    name: image1,
                    widget: object,
                    fields: [{ label: Image, name: image, widget: image }, { label: Alt, name: alt, widget: string }],
                  },
                  {
                    label: Image2,
                    name: image2,
                    widget: object,
                    fields: [{ label: Image, name: image, widget: image }, { label: Alt, name: alt, widget: string }],
                  },
                  {
                    label: Image3,
                    name: image3,
                    widget: object,
                    fields: [{ label: Image, name: image, widget: image }, { label: Alt, name: alt, widget: string }],
                  },
                ],
            }
      - file: "src/pages/about/index.md"
        label: "About"
        name: "about"
        fields:
          - { label: "Template Key", name: "templateKey", widget: "hidden", default: "about-page" }
          - { label: "Title", name: "title", widget: "string" }
          - {
              label: Quotes,
              name: quotes,
              widget: list,
              fields:
                [
                  { label: Name, name: name, widget: string },
                  { label: Quote, name: quote, widget: markdown },
                  { label: QuoteImage, name: quoteImage, widget: image },
                ],
            }
          - { label: "Body", name: "body", widget: "markdown" }


      - file: "src/pages/blog/index.md"
        label: "blog"
        name: "blog"
        fields:
          - { label: "Template Key", name: "templateKey", widget: "hidden", default: "blog-page" }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Cover Image", name: "coverImage", widget: "image" }

      - file: "src/pages/whatwedo/index.md"
        label: "What We Do"
        name: "whatwedo"
        fields:
          - { label: "Template Key", name: "templateKey", widget: "hidden", default: "what-we-do" }
          - {
              label: Whats,
              name: whats,
              widget: list,
              fields:
                [
                  { label: Title, name: title, widget: string },
                  { label: Description, name: description, widget: text },
                  { label: Image, name: image, widget: image },
                ],
            }
      - file: "src/pages/products/index.md"
        label: "Products Page"
        name: "products"
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Image, name: image, widget: image }
          - { label: Full_image, name: full_image, widget: image }
          - {
              label: Products,
              name: productItems,
              widget: list,
              fields:
                [
                  { label: Heading, name: heading, widget: string },
                  { label: Description, name: description, widget: markdown },
                  { label: Price, name: price, widget: string },
                  { label: Image, name: productImage, widget: image },
                  { label: Link, name: link, widget: string },
                ],
            }
          - { label: Heading, name: heading, widget: string }
          - { label: Description, name: description, widget: string }
          - {
              label: Intro,
              name: intro,
              widget: object,
              fields:
                [
                  { label: Heading, name: heading, widget: string },
                  { label: Description, name: description, widget: text },
                  {
                    label: Blurbs,
                    name: blurbs,
                    widget: list,
                    fields: [{ label: Header, name: heading, widget: string }, { label: Image, name: image, widget: image }, { label: Text, name: text, widget: markdown }],
                  },
                ],
            }
          - {
              label: Main,
              name: main,
              widget: object,
              fields:
                [
                  { label: Heading, name: heading, widget: string },
                  { label: Description, name: description, widget: text },
                  {
                    label: Image1,
                    name: image1,
                    widget: object,
                    fields: [{ label: Image, name: image, widget: image }, { label: Alt, name: alt, widget: string }],
                  },
                  {
                    label: Image2,
                    name: image2,
                    widget: object,
                    fields: [{ label: Image, name: image, widget: image }, { label: Alt, name: alt, widget: string }],
                  },
                  {
                    label: Image3,
                    name: image3,
                    widget: object,
                    fields: [{ label: Image, name: image, widget: image }, { label: Alt, name: alt, widget: string }],
                  },
                ],
            }
          - {
              label: Testimonials,
              name: testimonials,
              widget: list,
              fields: [{ label: Quote, name: quote, widget: string }, { label: Author, name: author, widget: string }],
            }
          - {
              label: Pricing,
              name: pricing,
              widget: object,
              fields:
                [
                  { label: Heading, name: heading, widget: string },
                  { label: Description, name: description, widget: string },
                  {
                    label: Plans,
                    name: plans,
                    widget: list,
                    fields:
                      [
                        { label: Plan, name: plan, widget: string },
                        { label: Price, name: price, widget: string },
                        { label: Description, name: description, widget: string },
                        { label: Items, name: items, widget: list },
                      ],
                  },
                ],
            }
          - { label: "Template Key", name: "templateKey", widget: "hidden", default: "product-page" }
          - { label: "Show Main Hero?", name: "showMainHero", widget: "boolean", default: true}
          - { label: "Show Product Section 1?", name: "showProductSectionOne", widget: "boolean", default: true}
          - { label: "Show Product Section 2?", name: "showProductSectionTwo", widget: "boolean", default: true}
          - { label: "Show Testimonials?", name: "showTestimonials", widget: "boolean", default: true}
          - { label: "Show Price List?", name: "showPriceList", widget: "boolean", default: true}
