@tailwind base;
@tailwind components;
@tailwind utilities;

.form-group {
   @apply my-2 flex flex-col;
}

.form-label {
  @apply my-2;
}

.form-input {
  @apply bg-gray-200 p-2;
}

.btn {
  @apply py-2 px-5 border-2 border-red-600 rounded-lg font-bold;
  transition: all 200ms ease;
}

.btn:hover {
  @apply bg-red-500 text-white;
}

.container {
  @apply px-5;
}

@screen sm {
  .container { @apply px-10; }
}

.markdown {
  @apply text-xl;
  & > * + *,
  & li > p + p {
    @apply my-10;
  }
  & strong {
    @apply text-black font-bold;
  }
  & a {
    @apply text-purple-700 font-semibold;
  }
  & strong a {
    @apply font-bold;
  }
  & h1 {
    @apply leading-tight text-4xl font-bold mb-2 my-10;
  }
  & h2 {
    @apply leading-tight text-4xl font-bold mb-2 my-10;
  }
  & h3 {
    @apply leading-tight text-3xl font-bold my-8 -mb-2;
  }
  & code {
    @apply font-mono text-sm inline px-1 overflow-x-auto;
  }
  & pre {
    @apply overflow-x-auto;
  }
  & pre code {
    @apply block p-4 rounded;
  }
  & blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic;
  }
  & ul,
  & ol {
    @apply pl-5 list-disc list-inside my-5;
    @screen sm {
      @apply pl-10;
    }
  }
}
